name: ze_livreur
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.0
  curved_navigation_bar: ^0.3.7
  flutter_switch: ^0.2.0
  flutter_rating_bar: ^3.2.0+1
  provider: ^4.3.3
  responsive_flutter: ^0.0.4
  intl: ^0.16.1
  url_launcher: ^5.7.10
  charts_flutter: ^0.9.0
  flutter_share: ^1.0.5
  google_maps_flutter: ^1.1.1
  dio: ^3.0.10
  flutter_spinkit: "^4.1.2"
  flutter_secure_storage: ^3.3.5
  device_info: ^1.0.0
  http: ^0.12.2
  firebase_messaging: ^7.0.3
  firebase_core: ^0.5.0+1
dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: Mom cake
      fonts:
        - asset: assets/fonts/MomcakeBold-Bold.otf
        - asset: assets/fonts/MomcakeThin-Regular.otf
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
